html {
    text-align: center;
}

body {
    background-color: #fafafa;
    color: #111;
    font-family: serif;
    font-size: 16px;
    margin: 0px auto;
    padding: 12px;
    text-align: left;
    max-width: 720px;
}

header {
    color: #777;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0px;
    text-align: center;
}

hr {
    border-style: dashed;
    margin: 18px;
}

div#info p {
    line-height: 140%;
    margin: 12px 0px;
    text-align: justify;
}

div#info a {
    color: #222;
}

div#advanced div.form-columns {
    margin-bottom: 24px;
}

div#controls div.form-columns {
    display: flex;
}

@media (max-width: 480px) {
    div#controls div.form-columns {
        justify-content: space-between;
        flex-direction: column;
    }
}

div#controls div.labelgrid {
    flex-grow: 1;
    flex-basis: 0;

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: max-content;
    gap: 0.5rem;
    row-gap: 0.1rem;
    align-items: center;
}

.labelgroup {
    grid-column-end: span 2;
    font-weight: bold;
    padding: 6px 0px 0px 0px;
}

div.labelgrid input {
    justify-self: left;
}

div.buttons {
    margin: 12px 0px 6px 0px;
}

div.buttons input {
    width: calc(100% - 2 * 3px);
    margin: 3px;
}

div#results {
    color: black;
}

div#output {
    margin: 0px 6px 0px 0px;
    padding: none;
    text-align: center;
    width: 25px;
}

pre, code {
    color: #333;
    font-family: 'Inconsolata', 'Courier New', monospace;
    font-size: 14px;
}

div#loading {
    text-align: center;
    max-width: 720px;
}

/* Blockquotes are rendered awfully by default so we need to fix that a bit. */
blockquote {
    border-left: solid #777 2px;
    margin-left: 12px;
    padding-left: 12px;
}

.slider {
    transition: height 1s;
    overflow-y: hidden;
}
